<% if sign_in? %>
	<%= link_to "Sign Out", sign_out_path %>
<% else %>
	<%= link_to "Sign In", sign_in_path %>
<% end %>

<%= link_to current_user.name, users_info_path %>
<%= link_to "修改", users_profile_path %>

<p>Find me in app/views/home/index.html.erb</p>

<h1>Hello, Rails!</h1>
<%= link_to "My Blog", posts_path %>
<%= link_to "My Topic", topics_path %>