<% if sign_in? %>
	<%= link_to "Sign Out", sign_out_path %>
<% else %>
	<%= link_to "Sign In", sign_in_path %>
<% end %>

<%= link_to "修改密码", users_profile_path %>
<%= link_to current_user.name, users_info_path %>

<p>Find me in app/views/home/index.html.erb</p>

<% if current_user.class.eql?(User) %>
	<h1>Hello, Users!</h1>
	<%= link_to "My Blog", posts_path %>
	<%= link_to "My Topic", topics_path %>
	<%= link_to "My Disease", diseases_path %>
	<%= link_to "All Users", users_path %>
<% else %>
	<h1>Hello, Doctors!</h1>
	<%= link_to "All Doctors", doctors_path %>
<% end %>
